build
build-*
.cache
*.log
.ccls-cache
*.srctrlbm
*.srctrldb
*.srctrlprj
docs
*.out
*.out.*
*.data
*.png
compile_commands.json
src/test/dummy.cpp
src/test/dummy.py
*.ipynb
.idea
.python-version
perf.*
